# Ignore system files
.DS_Store
*.log

# Ignore macOS system directories
.Trash/
Desktop/
Documents/
Downloads/
Library/

# Ignore Python and Jupyter cache files
__pycache__/
*.pyc
*.pyo
*.ipynb_checkpoints/

# Ignore model files and large data
models/*.h5
*.pkl
*.csv
*.json

# Ignore IDE and editor config files
.vscode/
.idea/
